<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>liftplan: a tool for planning lifts.</title>
    <meta name="description" content="liftplan: a tool for planning lifts." />
    <meta name="keywords" content="lifting weightlifting olympic barbell" />
    <meta name="author" content="Nathan Toups" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/static/pico.fluid.classless.conditional.zinc.min.v2.0.6.css" />
    <script src="/static/fixi-0.6.4.js"
      crossorigin="anonymous"
      integrity="sha256-AsOVx1uVS24N8IuJrLq8A4yxp4n2lWxLkO+7KKKsx8Q=">
    </script>
  </head>
  <body>
  <h1>liftplan: a tool for planning lifts.</h1>
  {{.}}
  </body>
</html>