<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>liftplan: a tool for planning lifts.</title>
    <meta name="description" content="liftplan: a tool for planning lifts." />
    <meta name="keywords" content="lifting weightlifting olympic barbell" />
    <meta name="author" content="Nathan Toups" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/pico/v2.0.6/pico.fluid.classless.conditional.zinc.min.css" />

  </head>
  <body>
  <h1>liftplan: a tool for planning lifts.</h1>